
body {
  margin-top: 50px;
  overflow: hidden;
}

#canvas {
  background: #041615; /* Old browsers */
  background: -moz-linear-gradient(top,  #041615 0%, #3a3a74 51%, #7575e9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#041615), color-stop(51%,#3a3a74), color-stop(100%,#7575e9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #041615 0%,#3a3a74 51%,#7575e9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #041615 0%,#3a3a74 51%,#7575e9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #041615 0%,#3a3a74 51%,#7575e9 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #041615 0%,#3a3a74 51%,#7575e9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#041615', endColorstr='#7575e9',GradientType=0 ); /* IE6-9 */
}

.form {
  padding: 20px;
  width: 300px;
  height: 100%;
  float: left;
}

#top_container {
  position: fixed;
  top: -80px;
  width: 100%;
  transition: top 0.2s;
}

#loading_text {
  position: absolute;
  color: white;
  top: 90px;
  left: 10px;
  text-shadow: 0 0 5px black;
}

#time_chart {
  position: absolute;
  top: 0px;
  width: 100%;
}

#time_chart text {
  fill: white;
  text-shadow: 0 0 5px black;
}

#time_chart path {
  stroke: rgba(255,255,255,0.1);
}
#time_chart rect {
  stroke-width: 0;
}

#stats {
  position: absolute;
  top: 80px;
  right: 0px;
}

#bottom_container {
  position: fixed;
  bottom: -130px;
  transition: bottom 0.2s;
}

#point_meta {
  display: none;
  bottom: 130px;
  position: absolute;
  color: white;
  list-style: none;
  padding: 10px;
  text-shadow: 0px 1px 5px black;
  margin: 0;
}

#point_meta li div {
  float: left;
}

#current_time {
  position: absolute;
  bottom: 150px;
  left: 50%;
  margin-left: -50px;
  color: white;
  width: 100px;
  font-size: large;
  text-shadow: 0px 1px 5px black;
  text-align: center;
  cursor: default;
}

#playback_control {
  position: absolute;
  bottom: 210px;
  width: 30px;
  left: 50%;
  margin-left: -15px;
  padding: 0;
  text-align: center;

  color: white;
  text-shadow: 0 0 5px black;
  font-size: x-large;
}
#playback_control:hover {
  padding-bottom: 2px;
  text-shadow: 0 2px 8px black;
}

#time_seekbar {
  position: absolute;
  bottom: 190px;
  left: 20%;
  width: 60%;

  -webkit-appearance: none !important;
  background: white;
  box-shadow: 0 0 5px black;
  height: 7px;
  outline: 0;
}

#time_seekbar::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: white;
  box-shadow: 0 0 10px black;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

#time_tooltip {
  position: absolute;
  bottom: -999px;
  background-color: #1a1a1a;
  font-weight: bold;
  padding: 5px 8px;
  color: white;
}
#time_seekbar:hover ~ #time_tooltip {
  bottom: 205px;
}

#dat_gui_container {
  position: absolute;
  bottom: 150px;
  right: 10px;
}
#dat_gui_container > div > ul {
  position: relative;
  top: 20px;
}
#dat_gui_container > div > div {
  top: 0px;
}
#dat_gui_container *, #dat_gui_container *:before, #dat_gui_container *:after {
  box-sizing: initial;
}
#dat_gui_container input {
  line-height: normal;
}

#photo_strip {
  width: 100%;
  height:125px;
  margin: 0 5px;
  overflow-x: auto;
  overflow-y: hidden;
}

#photo_strip_container {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 130px;
  background-color: #1a1a1a;
  box-shadow: 0 0 10px black;
}

#photo_strip::-webkit-scrollbar {
  height: 7px;
}
#photo_strip::-webkit-scrollbar-thumb {
  background-color: #555;
}
#photo_strip::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

#photo_strip ul {
  padding: 10px 0 0 0;
  margin: 0;
  list-style: none;
  color: white;
}

#photo_strip li {
  background-size: cover;
  background-position: 50% 25%;
  display: block;
  width: 200px;
  height: 100px;
  float: left;
  margin: 0 3px;
}

#photo_strip li:hover {
  opacity: 0.9;
  cursor: pointer;
}
