
body {
  margin-top: 50px;
  overflow: hidden;
}

#canvas {
  background: #041615; /* Old browsers */
  background: -moz-linear-gradient(top,  #041615 0%, #3a3a74 51%, #7575e9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#041615), color-stop(51%,#3a3a74), color-stop(100%,#7575e9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #041615 0%,#3a3a74 51%,#7575e9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #041615 0%,#3a3a74 51%,#7575e9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #041615 0%,#3a3a74 51%,#7575e9 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #041615 0%,#3a3a74 51%,#7575e9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#041615', endColorstr='#7575e9',GradientType=0 ); /* IE6-9 */
}

.form {
  padding: 20px;
  width: 300px;
  height: 100%;
  float: left;
}

#top_container {
  position: fixed;
  top: 0px;
  width: 100%;
  transition: top 0.2s;
}
#import_block {
  position: absolute;
  margin: 20px;
  width: 25%;
  min-width: 300px;
  overflow: hidden;

  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 0 0 2px black;
}
#ply_url {
  width: 100%;

  position: relative;
  background-color: transparent;
  color: white;
  outline: 0;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: white;
  border-bottom-width: 1px;
  padding: 5px;

}
#drag_text {
  color: white;
  font-size: small;
  position: relative;
  right: 0px;
  text-align: right;
  cursor: default;
  font-style: italic;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
}
#loading_text {
  color: white;
  position: absolute;
  top: 25px;
  left: 10px;
  text-shadow: 0 0 5px black;

  display: none;
}
#loader_progress {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  z-index: 1;

  -webkit-appearance: none;
  appearance: none;

  display: none;
}
progress[value]::-webkit-progress-bar {
  background-color: transparent;
}
progress[value]::-webkit-progress-value {
  background-color: #44abda;
}


#shortkey_help {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 105px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  margin: 10px;

  cursor: default;
}

#shortkey_help ul {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;

  list-style: none;
  padding: 10px;
  margin: 0;
  font-size: smaller;
}
#shortkey_help ul li div {
  float: left;
}

#bottom_container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  transition: bottom 0.2s;
}

.dg {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
}
.dg *, .dg *:before, .dg *:after {
  box-sizing: initial;
}
.dg input {
  line-height: normal;
}

#dropzone {
  border: 10px dashed #bbb;
  border-radius: 5px;
  text-align: center;
  color: #bbb;
  background-color: rgba(0,0,0,0.5);

  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
}

#dropzone span {
  font-size: 80px;
  top: 50%;
  position: relative;
  line-height: 0;
}

