{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
<script src="../static/js/dat.gui.min.js"></script>
<script src="../static/js/lightgl.js"></script>
<script src="../static/js/time_profile.js"></script>
<script src="../static/js/camera.js"></script>
<script src="../static/js/trackball.js"></script>
<script src="../static/js/pointcloud.js"></script>

<canvas id="canvas"></canvas>
<div id="current_time"></div>
<ul id="point_meta">
  <li id='point_meta_idx'></li>
  <li id='point_meta_x'></li>
  <li id='point_meta_y'></li>
  <li id='point_meta_z'></li>
  <li id='point_meta_r'></li>
  <li id='point_meta_g'></li>
  <li id='point_meta_b'></li>
  <li id='point_meta_tmin'></li>
  <li id='point_meta_tmax'></li>
</ul>
<div id="time_chart"></div>
<div id="loading_text"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
<div id="dataset" style="display:none">{{dataset}}</div>
<div id="dat_gui_container"></div>
<div id="photo_strip_container">
<div id="photo_strip"><ul>
  <li style="font-size:x-large; width:99%; text-align:center; margin-top:40px; color:gray; cursor:default;">Double-click on a point to load the photos.</li>
</ul></div>
</div>

{% endblock %}
