{% extends "layout.html" %}
{% block body %}
<script src="../static/js/dat.gui.min.js"></script>
<script src="../static/js/stats.min.js"></script>
<script src="../static/js/lightgl.js"></script>

<script src="../static/js/utils.js"></script>
<script src="../static/js/camera.js"></script>
<script src="../static/js/trackball.js"></script>
<script src="../static/js/glsl.js"></script>
<script src="../static/js/cloudviewer.js"></script>
<script src="../static/js/main.js"></script>

<canvas id="canvas"></canvas>
<div id="top_container">
  <div id="loading_text"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
</div>
<div id="dataset" style="display:none">{{dataset}}</div>
<div id="bottom_container">
  <div id="shortkey_help">
    <ul>
      <li><div style="width:100%;"><div style="width:80px;">pan:</div><div style="margin-left:10px">middle mouse-drag or ctrl+left mouse-drag</div></div></li>
      <li><div style="width:100%;"><div style="width:80px;">zoom:</div><div style="margin-left:10px">alt+left mouse-drag or scroll</div></div></li>
      <li><div style="width:100%;"><div style="width:80px;">select:</div><div style="margin-left:10px">left double mouse-click</div></div></li>
      <li><div style="width:100%;"><div style="width:80px;">reset trackball:</div><div style="margin-left:10px">right mouse-click</div></div></li>
      <li><div style="width:100%;"><div style="width:80px;">point size:</div><div style="margin-left:10px">alt+scroll</div></div></li>
    </ul>
  </div>
</div>

{% endblock %}
